@import "./components/Header/Header.css";
@import "./components/Form/Form.css";
@import "./components/Entries/Entries.css";
@import "./components/Tab/Tab.css";

:root {
  /* Used for texts (+ footer background) */
  --color-granite: #252629;
  /* Used for backgrounds (+ footer text color) */
  --color-foam: #ffffff;
  /* Used for buttons, icons, etc. */
  --color-nemo: #ff4a11;
  /* active color for buttons, icons, etc. */
  --color-nemo-mid: #ff5c29;
  /* hover color for buttons, icons, etc. */
  --color-nemo-dark: #e5430f;
  /* Used for borders and some backgrounds */
  --color-water-10: #e4e8f0;
}

#root {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;
  background: #ffffff;
}

.allEntries {
  display: flex;
  color: #ff4a11;
}

.allFavorites {
  display: flex;
}

.counter {
  color: #ff4a11;
  margin-right: 15px;
}

p {
  margin-right: 3px;
}

.Memory--Container {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 60px;
}

.Memory--Container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Memory--Container__date {
  justify-content: center;
  text-align: center;
  font-style: initial;
}

.loggedjournalnotes {
  text-align: justify;
}
