/*
prototype https://github.com/neuefische/web-exercises/blob/main/sessions/react-project-setup/journal-app/resources/journal_app_design@2x.png
*/
/* box-sizing: border-box; */

#root {
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 32px;
  background: #ffffff;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 18px 16px;
  gap: 10px;
  background-color: #e4e8f0;
}

h3 {
  text-transform: uppercase;
  align-self: center;
  font-size: small;
}

.EntryForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-self: center;
}

.userinput {
  height: 41px;
  width: 336px;
  left: 0px;
  top: 24px;
  margin-bottom: 22px;
}

.userinputtextarea {
  height: 124px;
  width: 336px;
  left: 0px;
  top: 24px;
  border-radius: 0px;
  border-color: grey;
}

textarea:focus,
input:focus {
  outline-color: #ff4a11;
  color: #ff4a11;
  caret-color: transparent;
}

.button {
  align-self: center;
  background-color: #ff4a11;
  border-color: #ff4a11;
  color: white;
  width: 133px;
  height: 48px;
  border-radius: 4px;
  box-shadow: none;
  width: 133px;
  height: 48px;
  border-style: none;
  margin-top: 22px;
}

/* AFTER CREATE BUTTON */

.Tab {
  display: flex;
  flex-direction: row;
  width: 336px;
  align-self: center;
  gap: 15px;
  margin-bottom: 30px;
}

.allEntries {
  display: flex;
  color: #ff4a11;
}

.allFavorites {
  display: flex;
}

.counter {
  color: #ff4a11;
  margin-right: 15px;
}

p {
  margin-right: 3px;
}

.Memory--Container {
  align-self: center;
  margin-bottom: 10px;
  margin-top: 60px;
}

.Memory--Container__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.Memory--Container__date {
  justify-content: center;
  text-align: center;
  font-style: initial;
}

.loggedjournalnotes {
  text-align: justify;
}

footer {
  padding-top: 32px;
  padding-bottom: 32px;
  font-size: large;
  align-self: center;
  background-color: #252629;
  color: lightgray;
  text-align: center;
  width: 100vw;
}
