.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/*
prototype https://github.com/neuefische/web-exercises/blob/main/sessions/react-project-setup/journal-app/resources/journal_app_design@2x.png
*/
/* box-sizing: border-box; */

h1 {
  width: 100vw;
  margin: 0px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  color: darkgray;
  text-align: center;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
  margin-left: 40%;
  margin-right: 40%;
  padding: 0px;
}

legend {
  text-align: center;
}

input {
  height: 80px;
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
